
@font-face {
    font-family: "SouciSansNF";
    src: url("../fonts/SouciSansNF.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format("truetype");
}

/*pnlThirdParty*/
.pnlThirdParty{
    border-color: #2ca5b9!important;
 }
.panel > .pnlThirdParty{
    background-image: none;
    background-color: #2ca5b9!important;
    border-color: #2ca5b9!important;
}
.list-group-item:hover,
.list-group-item:active{
    background-image: none;
    background-color: #a6d9e1!important;
    border-color: #a6d9e1!important;
}
/*END pnlThirdParty*/

/*pnlWimpDescriptio*/
.pnlWimpDescription{
    border-color: #089de3!important;
}
.panel > .pnlWimpDescription{
    background-image: none;
    background-color: #089de3!important;
    border-color: #089de3!important;
}
/*END pnlWimpDescription*/

/*pnlTeam*/
.pnlTeam{
    border-color: #F89C12!important;
}
.panel > .pnlTeam{
    background-image: none;
    background-color: #F89C12!important;
    border-color: #F89C12!important;
}
/*END pnlTeam*/

/*pnlVideo*/
.pnlVideo{
    border-color: #F23C06!important;
}
.panel > .pnlVideo{
    background-image: none;
    background-color: #F23C06!important;
    border-color: #F23C06!important;
}
/*END pnlVideo*/

/*pnlSourceCode*/
.pnlSourceCode{
    border-color: #9CB806!important;
}
.panel > .pnlSourceCode{
    background-image: none;
    background-color: #9CB806!important;
    border-color: #9CB806!important;
}
/*END pnlSourceCode*/

.panel > .panel-heading{
    font-family: SouciSansNF;
    font-size: 1.5em;
}

.panel > .panel-body{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.25em;
}